.grid-form {
  display: grid;
  grid-template-columns: 1fr;
}
.grid-consultas {
  display: flex;
  justify-content: center;
}
.agd-container-titulo {
  padding: 120px 0 30px 0;
  text-align: center;
}
.agd-container-titulo > h4{
  padding-bottom: 10px;
}
/* Formulario */
.form-bg {
  padding: 130px;
  display: block;
  margin: 0 auto;
}
.form-bg > form {
  display: grid;
  column-gap: 20px;
  grid-template-columns: 1fr 1fr;
  max-width: 400px;
}
.form-bg > form > div > label {
  display: block;
  padding-bottom: 10px;
}
.form-bg > form > div > input {
  padding: 10px;
  border: 1px solid var(--cor-7);
  border-radius: 4px;
}
#nome, #sobrenome, #email, #telefone, #hora, #data, #mensagem > textarea {
  background: #F6F9FE;
  border: 1px solid #98A6BA;
  padding: 10px;
  border-radius: 2px;
  display: block;
  font-family: 'merriweather sans', sans serif;
  color: #98A6BA;
}
#mensagem > button {
  background: var(--cor-4);
  color: white;
  padding: 10px;
  letter-spacing: 1.5px;
  border-radius: 2px;
  border: none;
  font-family: 'Merriweather Sans', sans-serif;
  margin-top: 15px;
  cursor: pointer;
}
#mensagem, #email {
  grid-column: 1/-1;
  display: inline-block;
}
#telefone {
  grid-column: 1;
}
form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="tel"]:focus,
form input[type="datetime-local"]:focus,
form textarea:focus {
  outline: none;
  background: #D5DFED !important;
  border: 1px solid #253858 !important;
}

/* Consulta escolhida */
.consulta-selecionada {
  border: 1px solid var(--cor-4);
  width: 250px;
  height: max-content;
  border-radius: 4px;
  padding: 40px;
  margin-top: 100px;
  margin-left: 100px;
  box-shadow: 3px 2px 5px rgba(0, 0, 0, .2);
  position: relative;
  background: white;
}
.consulta-selecionada > .consulta-lista > ul > li {
  font-family: 'Merriweather Sans', sans-serif;
  color: var(--cor-4);
  font-style: italic;
  padding-top: 20px;
  width: 50ch;
  max-width: 400px;
}
.consulta-selecionada > .consulta-lista > ul::before {
  content: '';
  width: 250px;
  height: 1px;
  top: 140px;
  background: var(--cor-2);
  position: absolute;
}
.consulta-selecionada > .consulta-lista > ul::after {
  content: '';
  width: 250px;
  height: 1px;
  bottom: 90px;
  background: var(--cor-2);
  position: absolute;
}
.consulta-selecionada > .botao > a:hover {
  background: var(--cor-4);
  color: white;
  transition: .3s;
}
.consulta-selecionada > .botao {
  margin-top: 40px;
}
.consulta-selecionada > .valor-consulta {
  font-family: 'Merriweather Sans', sans-serif;
  text-align: right;
  font-size: 1.6rem;
}
.consulta-selecionada > .valor-consulta > span {
  font-size: 1rem;
}
@media (max-width: 1200px) {
  .grid-containers {
    height: 1200px;
  }
  .grid-consultas {
    display: flex;
    justify-content: left;
    padding-left: 20px;
    gap: 10px;
    padding-bottom: 10px;
    overflow-x: auto;
  }
}
@media (max-width: 800px) {
  .grid-containers > .grid-form {
    display: grid;
    grid-template-columns: 1fr;
  }
  .consulta-selecionada {
    margin-top: 70px;
  }
  .grid-consultas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: -60px;
  }
  .agd-container-titulo {
    padding: 50px 0 30px 0;
  }
  .agd-container-titulo > h1 {
    font-size: 2rem;
  }
  .form-bg {
    padding: 40px;
    display: block;
    margin: 0;
  }
  .form-bg > form {
    grid-template-columns: 1fr;
  }
  form input[type="text"],
  form input[type="email"],
  form input[type="tel"],
  form input[type="datetime-local"],
  form textarea {
    width: 70%;
  }
}