#contato {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
  padding: 40px;
  border-top: .5px solid var(--cor-2);
  align-items: center;
  background: var(--cor-1);
}
#contato > div > a {
  margin-left: 10px;
}
@media (max-width: 600px) {
  #contato {
    gap: 20px;
    padding: 20px;
    text-align: center;
  }
}