.conheca-container {
  padding-top: 260px;
  padding-bottom: 200px;
}
.container-titulo > h2 {
  position: relative;
  z-index: 1;
  text-shadow: -3px 0 3px var(--cor-1);
}
.container-titulo > h2::before {
  content: url(/img/conheca-dec.svg);
  position: absolute;
  z-index: -1;
  top: -100%;
  left: 46%;
}
.grid-conheca { 
  padding-top: 80px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 40px;
}
.consulta {
  margin-top: 50px;
  display: grid;
  justify-items: center;
  gap: 20px;
}
.divisor-col {
  padding-top: 12rem;
}
@media (max-width: 900px) {
  .conheca-container {
    padding: 150px 20px !important;
  }
  .container-titulo > h2::before {
    left: 43%;
  }
  .container-titulo > h2 {
    font-size: 2rem;
  }
  .grid-conheca { 
    grid-template-columns: 1fr !important;
    padding-top: 30px;
    gap: 0px;
  }
  .divisor-col > img {
    display: none;
  }
  .divisor-col {
    padding-top: 0;
  }
}